.copyright{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #110e19;
    color: white;
}
.copyright p {
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: .2rem;
}
.love{
   background-color: linear-gradient(90deg,#de39ff,#676dff);
    
}

