.loader-main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #110e19;
    width: 100%;
    height: 100vh;
}


.loader-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader-icon{
    height: auto;
    width: 4rem;
    border-radius: 1rem;
    margin-right: 1rem;
}
.loader-text{
    font-size: 2rem;
    color: white;
}